#title {
        color: #132c8e;
        padding: 20px;
        text-align: center;
        margin-top: 50px;
        font-size: 50px;
      }

      #name {
    
        color: #288ae5;
        font-size: 20px;
        position: relative;
        left: 20px;
        float: left;
       
     
      }
     #image {
        width: 150px;
        height: 150px;
        border-radius: 10px;
        position: absolute;
        top: 10px;
        left: 20px;
        
        
      }

      #email {
        color: #288ae5;
        font-size: 20px;
        left: 20px;
        float: left;
        padding-left: 95px;
        
      }
      #contact {
     
      
        color: #228aeb;
        font-size: 20px;
        float:right;
        padding-right: 90px;
       
        
      }
      #github  {
       
      
        color: #288ae5;
        font-size: 20px;
         float:right;
       padding-right: 140px;
    
       
        
      }
     

        #about {
            background-color: #98b9cb;
            font-size: 20px;
            padding: 20px;
            margin: 20px;
            clear: both;
            
        }

      #skills {
       background-color: #f2f2f2;
        padding: 20px;
        margin: 20px;
        clear: both;
      }

      #Education {
        background-color: #f2f2f2;
        padding: 20px;
        margin: 20px;
      }

        #Projects {
            background-color: #f2f2f2;
            padding: 20px;
            margin: 20px;
        }

        #Experience {
            background-color: #f2f2f2;
            padding: 20px;
            margin: 20px;
        }